
:root {
  --font-size-site: 11px;
}

body {
  background-color: white;
  background-color:  #060e13;
  background-image: url("../assets/img7.jpg");
  font-size: var(--font-size-site);
  color: #000000; 
  font-family: 'Trebuchet MS', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  margin-top: 10px;
  margin-left: 0px;
}

a:link {
  text-decoration: none;
  color: #4169E1;
}

a:visited {
  text-decoration: none;
  color: #4169E1;
}

a:hover {
  text-decoration: underline;
  color: #00008B;
}

a:active {
  text-decoration: none;
  color: #4169E1;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 1.563rem; /* 25px Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  height: 1.563rem; /* 25px Footer height */
  padding-left: 15px; 
}
/* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */