	/* padding: top - right - bottom - left */

.btn-download {
	font-weight: bold;
	background-color:#FFD700;
	border:1px solid black;
	color:black;
	font-size: var(--font-size-site);
	text-decoration:none;
	padding: 3px 5px 3px 5px;
}
.btn-download:hover:not([disabled]){
	background-color: white;
}
.btn-download:disabled{
	opacity: 0.5;
}

.btn-delete {
	font-weight: bold;
	background-color:#FF0000;
	border:1px solid black;
	color:white;
	font-size: var(--font-size-site);
	text-decoration:none;
	padding: 3px 5px 3px 5px;
}
.btn-delete:hover:not([disabled]){
	background-color: black;
}
.btn-delete:disabled{
	opacity: 0.5;
}

.btn-upload {
	font-weight: bold;
	background-color:#007dc1;
	border:1px solid black;
	color:white;
	font-size: var(--font-size-site);
	text-decoration:none;
	padding: 5px 7px 5px 7px;
}
.btn-upload:hover:not([disabled]){
	background-color: #0061a7;
}
.btn-upload:disabled{
	opacity: 0.5;
}

.btn-send {
	font-weight: bold;
	background-color:#12AD2B;
	border:1px solid black;
	color:black;
	font-size: var(--font-size-site);
	text-decoration:none;
	padding: 3px 10px 3px 10px;
}
.btn-send:hover:not([disabled]){
	background-color: #3EA055;
}
.btn-send:disabled{
	opacity: 0.5;
}