table.Tabela_1 {
  font-size: var(--font_size_12);
}

table.Tabela_1 td#tdSEND {
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}

table.Tabela_1 td#tdUPLOAD {
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
}

table.Envia {
  background: none;
  font-size: var(--font_size_12);
  width: 80%;
}
